html,
body,
#map {
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input:focus {
    outline: none;
}

#filter-menu {
    position: fixed;

    top: 25px;
    left: 25px;

    padding-bottom: 20px;

    max-height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;

    z-index: 500;

    background-color: #82B782;

    border: solid;
    border-radius: 25px;

    transition: 0.5s;
}

#filter-menu img {
    width: 60px;
}

.filter-menu-row {
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 10px;

    padding: 10px;
}

#city-search-form {
    position: relative;
}

#city-search {
    max-width: 200px;

    padding: 5px 10px 5px 40px;

    font: inherit;

    border: none;
    border-radius: 25px;
}

#city-search.active {
    margin-bottom: 2px;

    border-radius: 15px 15px 0 0;
}

#partner-type-form {
    position:relative;

    padding-left: 30px;

    display: flex;

    gap: 10px;
}

.radio-button-container {
    position: relative;

    display: flex;

    align-items: center;

    gap: 3px;
}

.radio-button-container input {
    appearance: none;

    display: grid;
    place-content: center;

    width: 20px;
    height: 20px;

    color: currentColor;
    background-color: #fff;

    margin: 0;

    font: inherit;

    border: medium solid black;
    border-radius: 50%;
}

.radio-button-container input:before {
    content: "";

    width: 8px;
    height: 8px;

    border-radius: 50%;

    transform: scale(0);

    transition: 0.1s transform ease-in-out;
}

.radio-button-container input:checked:before {
    background-color: black;

    transform: scale(1);
}

#autocompleteSuggestions {
    position: absolute;

    width: 100%;

    display: flex;
    flex-direction: column;

    z-index: 700;

    background-color: white;

    border-radius: 0 0 15px 15px;

    cursor: pointer;
}

.autocompleteSuggestion {
    padding: 5px 0 5px 40px;

    background-color: white;
}

.autocompleteSuggestion:nth-last-child(1) {
    border-radius: 0 0 15px 15px;
}

.autocompleteSuggestion:hover {
    background-color: #e9e9e9;
}

#delete-city-search-button {
    position: absolute;

    top: 50%;
    left: 10px;

    background: none;
    border: none;

    transform: translateY(-50%);

    font-size: 20px;

    cursor: pointer;
}

.numbered-pin {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../Assets/pin.png");
    background-size: 40px;

    text-align: center;
}
.numbered-pin.active {
    background-image: url("../Assets/activePin.png");
}

.pin-number {
    margin-bottom: 10px;

    color: white;

    font-size: large;
}

#side-panel {
    position: fixed;
    background: white;

    top: 50%;
    transform: translateY(-50%);
    left: -500px;

    width: 250px;
    max-height: 100vh;
    min-height: 500px;
    padding: 20px;

    border-radius: 25px;
    border: solid 1px;

    z-index: 500;

    transition: 0.5s;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#side-panel.active {
    left: 20px !important;
}

.panel-header {
    color: black;
    font-size: xx-large;
    font-weight: 500;
}

.partner-information-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}


.partner-details {
    margin-top: 5px;
    font-size: 15px;
    
    display:flex;
    gap: 5px;
    justify-content: flex-start;
    flex-wrap:wrap;
}

.contact-button {
    width: 85%;
    height: 50px;

    background-color: #dd9933;
    background-image: linear-gradient(to right, #dd9933 0%, #f9ae22 50%, #dd9933 100%);
    color: white;

    position: absolute;
    bottom: 20px;

    font-size: 18px;
}

.pill-container {
    background-color:  #82b782 ;

    color: white;
    font-size: small;
    font-weight: bold;
    border-radius: 16px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.5rem;

    padding: 5px 10px;

    display: flex;

    align-items: flex-start;
    justify-content: center;
}

.no-display {
    display:none;
}